@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@layer components {
  /* Underline From Right */
  .hvr-underline-from-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 4px;
    background: white;
    height: 2px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-right:hover:before,
  .hvr-underline-from-right:focus:before,
  .hvr-underline-from-right:active:before {
    left: 0;
  }

  .gradient {
    background: linear-gradient(
      180deg,
      #38cd41 0%,
      rgba(95, 205, 56, 0.42) 100%
    );
  }

  .DietPlans,
  .Testimonials {
    font-family: "Quicksand", sans-serif;
  }

  .TestimonialCard {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  .PlanCard {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
